.body .sidebar {
  background-color: #00bf63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0;
}

.sidebar button {
  height: 100px;
  border: none;
  background-color: #00bf63;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.sidebar .selectedForm {
  background-color: white;
  color: black;
}

.sidebar button:hover {
  background-color: #009c51;
}

.sidebar .selectedForm:hover {
  background-color: rgb(202, 202, 202);
  color: black;
}

.sidebar img {
  height: 40px;
}
