.sidebar{
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    position: fixed;
    top: calc((100vh - 400px) / 2);
    left: 0;
}

.sidebar button{
    height: 100px;
}