* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(241, 241, 241);
}

.body {
  display: flex;
  padding: 0px 20px;
  padding-left: 80px;
}

.body > div {
  background-color: white;
  border-radius: 30px;
  height: fit-content;
  flex: 1;
}

button {
  cursor: pointer;
}
